doctype html
html(lang="en")
    head
        meta(http-equiv="content-type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="HandheldFriendly" content="true")

        meta(name="mobile-web-app-capable" content="yes")

        title= title
        link(rel='stylesheet', href='css/style.css')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    body
        //include navigator.pug
        block content

        include navigator

        script(src='/socket.io/socket.io.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/lib/socket.io/2.1.1/socket.io.js')

        script(src='js/login.js')
        script(src='js/chat.js')
        script(src='js/whiteboard.js')