nav.nav
    div.nav-left
        a(href='') Главная
        //a(href='') Чат
    div.nav-right
        if user
            span.nav-name= 'Привет, ' + user.username
            a#a-logout(href='') Выйти
        else
            a#a-login(href='') Войти
